NODE_ENV=development
PORT=5050
LOG_LEVEL=debug
API_PREFIX=/api/v1
DATABASE_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
# URL server bạn vừa host
OPENINARY_URL=
# Key bạn vừa lấy ở bước trên
OPENINARY_API_KEY=op_live_xxxxxxxxxxxxxx
