NODE_ENV=development
PORT=5050
LOG_LEVEL=debug
API_PREFIX=/api/v1
DATABASE_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
# MinIO Configuration
# Endpoint dạng: http://your-ip:9000 hoặc https://minio.yourdomain.com
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=hoctuthien-media

MAIL_ENABLED=false
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=HocTuThien
MAIL_FROM_EMAIL=
MAIL_REPLY_TO=
FRONTEND_BASE_URL=http://localhost:3000
PUBLIC_ASSET_BASE_URL=http://localhost:3000
